parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: db name
    database_user: root
    database_password: password

    mailer_transport: gmail
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_host: smtp.gmail.com
    mailer_username: example@gmail.com
    mailer_password: password

    secret: not so secret

    blogger_blog.comments.latest_comment_limit: 10